.idea
assets
backups
data
libraries
logs
natives
playerSnapshots
resourcepacks
saves
schematics
XaeroWaypoints/
XaeroWorldMap/
1.18.2.json
1.18.2-forge-40.1.93.json
client.jar
config.properties
launcher.log
options.txt
patchouli_data.json
usercache.json
usernamecache.json
.cfp
config/rubidium-mixins.properties
config/rubidium-options.json
config/rubidium_extras.toml
config/byg/backups
config/jade
config/spark
config/skinlayers.json
config/MouseTweaks.cfg
config/dynamic_lights_reforged.toml
config/the_vault/
